.Viewer {
  height: 600px;
  width: 100%;
}
.viewerContainer {
  position: relative;
  width: 100%;
  height: 100vh;

  .openseadragonCanvas {
    width: 100%;
    height: 100%;
  }

  .viewerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .sidebar {
      position: absolute;
      right: 0;
      top: 0;
      width: 20%; /* Сайдбар занимает 20% ширины */
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 10px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
      pointer-events: all;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .navigator {
        width: 100%; /* Миникарта занимает всю ширину сайдбара */
        height: 150px; /* Высота миникарты */
        background-color: #222; /* Фон, если карта не загружена */
        margin-bottom: 10px; /* Отступ снизу */
        border-radius: 4px;
        overflow: hidden;
      }

      button {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #555;
        }
      }

      .zoomInfo {
        text-align: center;
        font-size: 1.2em;
        margin: 10px 0;
      }

      hr {
        border: 0;
        border-top: 1px solid #666;
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
          background-color: #333;
          padding: 10px;
          border-radius: 4px;
          text-align: center;
        }

        .curveInfo {
          margin-top: 20px;
          font-size: 0.9em;
          text-align: center;
        }

        .curveGraph {
          width: 100%;
          height: 100px;
          background-color: #222;
          border-radius: 4px;
        }
      }
    }
  }
}
